/*Стилизація проєкта -*/
/*index.html - всі блоки з user - по 2 в рядок. кнопки/аосилвння розташувати під інформацією про user.*/
.all_users {
    height: 600px;
    width: 450px;
    border: 2px solid black;
    border-radius: 15px 0;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -300px;
    margin-left: -225px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: auto;
    grid-gap: 3%;
    align-items: center;
    place-items: center;

}
.user {
    height: 80px;
    width: 200px;
    border: 2px solid blueviolet;
    border-radius: 20px;

    display: flex;
    flex-direction: column;
    align-items: center;

}
.p_user{
    font-size: 15px;
    color: darkblue;
}
.button_1{

}

/*user-details.html - блок з інфою про user зверху сторінки. Кнопка нижчє, на 90% ширини сторінки, по центру.*/

.mainDiv {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;

}

.div_for_user {
    height: auto;
    width: 100%;
    position: relative;
    margin: 0 auto;
    clear: left;
    z-index: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid blue;
    justify-content: center;
}
.h2user{
    font-style: italic;;
}
.button2 {
    width: 90vw;
    margin-bottom: 5px;
    display: flex;
    justify-content: center;
    text-align: center;
}

/*блоки з короткою іфною про post - в ряд по 5 .*/

.mainFPT{
    height: auto;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-auto-rows: auto;
    grid-gap: 1%;
    align-items: center;
    place-items: center;
    margin: 4px;
}

.divFPT {
    border: 2px solid blueviolet;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 17vw;
    height: 110px;
    border-radius: 20px;

    overflow: hidden;
}
.pFPT{
    text-align: center;
    justify-content: center;
    height: 80%;
    width: 95%;
}
.button3 {
    margin-bottom: 2px;
    height: 15%;
    width: 80%;
    float: left;
}

/*post-details.html - блок з інфою про пост зверху. Коментарі - по 4 в ряд.*/

.mainDIV {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.divFP {
    height: auto;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid darkblue;
    border-radius: 10px;
}

.h2FP {
    text-align: center;
    font-style: italic;
}

.h3Comm{
    text-align: center;
    font-style: italic;
    border: 2px solid darkblue;
    border-radius: 10px;
}

.liFP{

}

.divComm {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    justify-content: center;
    align-items: center;
}

.divForComments {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: auto;
    grid-gap: 2%;
    align-items: center;
    place-items: center;
    margin: 4px;
}

.divC {
    border: 2px solid darkblue;
    border-radius: 5px;
    width: 100%;
    height: 100%;
}

/*Всі елементи котрі характеризують users, posts, comments візуалізувати, так, щоб було видно що це блоки (дати фон. марджини і тд)*/


